body {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

/* 框架 */
.Outerdiv{
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Map */
#map {
  height: 100vh;
  width: 100vw;
}

/* ClearBtn & MousePosition */
#clearDiv, #mouse-position, .card {
  position: absolute;
  right: 10px;
}
#mouse-position {
  margin-top: 5px;
  float: right;
}
#clearDiv {
  margin-top: 30px;
  float: right;
}
#detail {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

/* Card */
.card {
  margin: 80px 0px 0px 0px;
  width: 400px;
  clear: both;
  float: right;
  box-shadow: 1px 1px 5px #728e97;
}

/* Slide bar */
.Sliderdiv {
  padding: 5px;
}
#slidebartext {
  margin-bottom: 5px;
}

/* Table */
.tablediv {
  text-align: center;
  padding: 10px 10px 0px 10px;
}

/* Query Btn */
#queryDiv {
  float: right;
}
