body {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

/* 框架 */
.Outerdiv{
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Map */
#map {
  height: 100vh;
  width: 100vw;
}

/* ClearBtn & MousePosition */
#clearDiv, #mouse-position, #card1 {
  position: absolute;
  right: 10px;
}
#mouse-position {
  margin-top: 5px;
  float: right;
}
#clearDiv {
  margin-top: 30px;
  float: right;
}
#detail {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

/* Card */
#card1 {
  margin: 80px 0px 0px 0px;
  padding-bottom: 0px;
  width: 400px;
  clear: both;
  float: right;
  box-shadow: 1px 1px 5px #728e97;
  max-height: 600px;
  overflow-y: scroll;
}

#card2 {
  position: absolute;
  left: 10px;
  top: 80px;
  visibility: hidden;
  box-shadow: 1px 1px 5px #728e97;
  width: 0px;
  height: 10px;
  /* height: 300px; */
  /* width: 330px; */
  max-height: 460px;
}

/* Scroll bar */
::-webkit-scrollbar {
width: 7px;
}
::-webkit-scrollbar-track {
-webkit-border-radius: 10px;
border-radius: 10px;
margin:5px 0 5px 0;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 4px;
border-radius: 4px;
background: rgb(219,219,219);
}

/* Slide bar */
.Sliderdiv {
  padding: 5px;
}
#slidebartext {
  margin-bottom: 5px;
}

/* Table */
.tablediv {
  text-align: center;
  padding: 5px 0px 0px 0px;
}
.table {
  margin-bottom: unset;
}
#maxpoints {
  padding: 0px 5px 2px 5px;
  text-align: right;
  color: red;
  visibility: hidden;
}

/* Input */
#form {
  margin-bottom: 10px;
}
.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: unset;
}
#wtitle, #ntitle, #mtitle { /* vertical center */
  height: 25px;
  line-height: 29px;
  text-align: right;
  margin-right: 10px;
}
#wInput, #nInput, #mInput {
  width: 200px;
  height: 30px;
}
#wSmall, #nSmall, #mSmall {
  margin-top: unset;
  text-align: right;
  padding-right: 16px;
  visibility: hidden;
}

/* Query Btn */
#queryDiv {
  float: right;
}
