body {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.Outerdiv{ /* 框架 */
  display: flex;
  height: 100vh;
  width: 100vw;
}
#map {
  height: 100vh;
  width: 100vw;
}
.Btndiv, #mouse-position, .card { /* ClearBtn & MousePosition & card */
  position: absolute;
  right: 10px;
}
#mouse-position {
  margin-top: 5px;
  float: right;
}
.Btndiv {
  margin-top: 30px;
  float: right;
}
.card {
  margin: 80px 0px 0px 0px;
  width: 400px;
  clear: both;
  float: right;
  box-shadow: 1px 1px 5px #728e97;
}
#detail {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
